streamlit~=1.45.1
pandas~=2.2.3
openpyxl # This is usually needed for pandas to read/write .xlsx files
python-barcode # If you used this for barcode generation
Pillow       # If you used this for barcode image manipulation
fpdf2        # If you used this for PDF generation
sqlalchemy~=2.0.41
psycopg2-binary
fpdf~=1.7.2
opencv-python-headless
pyzbar
streamlit-webrtc
streamlit_qrcode_scanner